Repository Project-Qriz/Android, pull requests merged in 2025-01, with the labels that each got.

#18 [ISSUE-#17] BaseViewModel 생성 및 OnBoard-survey 부분 MVI 리팩토링
  .github/workflows/publish_unit_test.yml
  build-logic/src/main/java/com/qriz/app/ComposeAndroid.kt
  build-logic/src/main/java/qriz.android.feature.gradle.kts
  core/data/onboard/onboard-api/src/main/java/com/qriz/app/core/data/onboard/onboard_api/model/PreCheckConcept.kt
  core/data/onboard/onboard-api/src/main/java/com/qriz/app/core/data/onboard/onboard_api/repository/OnBoardRepository.kt
  core/data/onboard/onboard/src/main/java/com/qriz/app/core/data/onboard/onboard/repository/OnBoardRepositoryImpl.kt
  core/designsystem/src/main/java/com/qriz/app/core/designsystem/component/QrizButton.kt
  core/testing/build.gradle.kts
  core/testing/src/main/java/com/qriz/app/core/testing/MainDispatcherRule.kt
  feature/base/.gitignore
  feature/base/build.gradle.kts
  feature/base/src/main/java/com/qriz/app/feature/base/BaseViewModel.kt
  feature/base/src/main/java/com/qriz/app/feature/base/UiContract.kt
  feature/base/src/main/java/com/qriz/app/feature/base/extention/ComposeCollectExtention.kt
  feature/onboard/src/main/java/com/qriz/app/feature/onboard/SurveyItemList.kt
  feature/onboard/src/main/java/com/qriz/app/feature/onboard/guide/GuideScreen.kt
  feature/onboard/src/main/java/com/qriz/app/feature/onboard/model/SurveyEffect.kt
  feature/onboard/src/main/java/com/qriz/app/feature/onboard/model/SurveyState.kt
  feature/onboard/src/main/java/com/qriz/app/feature/onboard/navigation/OnBoardNavigation.kt
  feature/onboard/src/main/java/com/qriz/app/feature/onboard/preview/PreviewScreen.kt
  feature/onboard/src/main/java/com/qriz/app/feature/onboard/preview/PreviewViewModel.kt
  feature/onboard/src/main/java/com/qriz/app/feature/onboard/preview/model/PreviewEffect.kt
  feature/onboard/src/main/java/com/qriz/app/feature/onboard/preview/model/PreviewState.kt
  feature/onboard/src/main/java/com/qriz/app/feature/onboard/survey/SurveyContract.kt
  feature/onboard/src/main/java/com/qriz/app/feature/onboard/survey/SurveyScreen.kt
  feature/onboard/src/main/java/com/qriz/app/feature/onboard/survey/SurveyViewModel.kt
  feature/onboard/src/main/java/com/qriz/app/feature/onboard/survey/component/SurveyItemCard.kt
  feature/onboard/src/main/java/com/qriz/app/feature/onboard/survey/mapper/SurveyListItemMapper.kt
  feature/onboard/src/main/java/com/qriz/app/feature/onboard/survey/model/SurveyListItem.kt
  feature/onboard/src/main/java/com/qriz/app/feature/onboard/ui/screen/survey/SurveyScreen.kt
  feature/onboard/src/main/java/com/qriz/app/feature/onboard/ui/screen/survey/SurveyViewModel.kt
  feature/onboard/src/main/res/values/strings.xml
  feature/onboard/src/test/java/survey/SurveyViewModelTest.kt
  gradle/libs.versions.toml
  settings.gradle.kts
Labels: 👺 Bug fix, 💎 Feature, ❌✔ Test

#25 [ISSUE-#9] 네트워크 인증 토큰 작업
  app/build.gradle.kts
  core/data/token/token-api/.gitignore
  core/data/token/token-api/build.gradle.kts
  core/data/token/token-api/consumer-rules.pro
  core/data/token/token-api/proguard-rules.pro
  core/data/token/token-api/src/main/AndroidManifest.xml
  core/data/token/token-api/src/main/java/com/qriz/core/data/token/token_api/TokenRepository.kt
  core/data/token/token/.gitignore
  core/data/token/token/build.gradle.kts
  core/data/token/token/consumer-rules.pro
  core/data/token/token/proguard-rules.pro
  core/data/token/token/src/main/AndroidManifest.xml
  core/data/token/token/src/main/java/com/qriz/core/data/token/token/di/TokenRepositoryModule.kt
  core/data/token/token/src/main/java/com/qriz/core/data/token/token/repository/TokenRepositoryImpl.kt
  core/data/token/token/src/test/java/com/qriz/core/data/token/token/TokenRepositoryTest.kt
  core/data/user/user-api/src/main/java/com/quiz/app/core/data/user/user_api/repository/UserRepository.kt
  core/data/user/user/src/main/java/com/qriz/app/core/data/user/user/repository/UserRepositoryImpl.kt
  core/datastore/src/main/java/com/qriz/app/core/datastore/TokenDataStore.kt
  core/datastore/src/main/java/com/qriz/app/core/datastore/UserDataStore.kt
  core/datastore/src/main/java/com/qriz/app/core/datastore/crypto/CryptographyUtil.kt
  core/datastore/src/main/java/com/qriz/app/core/datastore/di/DataStoreModule.kt
  core/network/common/build.gradle.kts
  core/network/common/src/main/java/com/qriz/app/core/network/common/NetworkResponse.kt
  core/network/core/build.gradle.kts
  core/network/core/src/main/java/com/qriz/app/core/network/core/const/NetworkConstant.kt
  core/network/core/src/main/java/com/qriz/app/core/network/core/di/RetrofitModule.kt
  core/network/core/src/main/java/com/qriz/app/core/network/core/interceptor/AuthInterceptor.kt
  core/network/core/src/main/java/com/qriz/app/core/network/core/interceptor/TokenAuthenticator.kt
  core/network/core/src/test/java/com/qriz/core/networ/core/RetrofitTest.kt
  core/network/user/src/main/java/com/qriz/app/core/network/user/model/response/LoginResponse.kt
  feature/splash/build.gradle.kts
  feature/splash/src/main/java/com/qriz/app/feature/splash/SplashViewModel.kt
  gradle/libs.versions.toml
  settings.gradle.kts
Labels: 💎 Feature, ❌✔ Test

#23 [ISSUE-#19] SpalshViewmodel BaseViewmodel 적용
  feature/splash/src/main/java/com/qriz/app/feature/splash/SplashActivity.kt
  feature/splash/src/main/java/com/qriz/app/feature/splash/SplashContract.kt
  feature/splash/src/main/java/com/qriz/app/feature/splash/SplashViewModel.kt
  feature/splash/src/main/java/com/qriz/app/feature/splash/model/SplashEffect.kt
  feature/splash/src/test/java/SplashViewModelTest.kt
Labels: 🛠 Refactor, ❌✔ Test

#28 [ISSUE-#21] SignUp/In BaseViewmodel 적용 및 수정된 디자인, 요구사항 반영
  core/data/user/user-api/src/main/java/com/quiz/app/core/data/user/user_api/model/UserRegex.kt
  core/data/user/user-api/src/main/java/com/quiz/app/core/data/user/user_api/repository/UserRepository.kt
  core/data/user/user/src/main/java/com/qriz/app/core/data/user/user/repository/UserRepositoryImpl.kt
  core/designsystem/src/main/java/com/qriz/app/core/designsystem/component/QrizTextField.kt
  core/designsystem/src/main/java/com/qriz/app/core/designsystem/component/QrizTopBar.kt
  core/designsystem/src/main/java/com/qriz/app/core/designsystem/theme/Type.kt
  core/designsystem/src/main/res/drawable/back_icon.xml
  core/designsystem/src/main/res/drawable/close_icon.xml
  core/designsystem/src/main/res/drawable/img_logo.png
  core/designsystem/src/main/res/drawable/qriz_logo.png
  feature/main/src/main/java/com/qriz/app/feature/main/QrizApp.kt
  feature/onboard/src/main/java/com/qriz/app/feature/onboard/preview/PreviewViewModel.kt
  feature/onboard/src/main/java/com/qriz/app/feature/onboard/survey/SurveyContract.kt
  feature/onboard/src/main/java/com/qriz/app/feature/onboard/survey/SurveyScreen.kt
  feature/onboard/src/main/java/com/qriz/app/feature/onboard/survey/SurveyViewModel.kt
  feature/onboard/src/test/java/survey/SurveyViewModelTest.kt
  feature/sign/src/main/java/com/qriz/app/feature/sign/model/SignInUiState.kt
  feature/sign/src/main/java/com/qriz/app/feature/sign/model/SignUpEffect.kt
  feature/sign/src/main/java/com/qriz/app/feature/sign/model/SignUpUiState.kt
  feature/sign/src/main/java/com/qriz/app/feature/sign/navigation/SignNavigation.kt
  feature/sign/src/main/java/com/qriz/app/feature/sign/screen/SignInScreen.kt
  feature/sign/src/main/java/com/qriz/app/feature/sign/screen/SignInViewModel.kt
  feature/sign/src/main/java/com/qriz/app/feature/sign/screen/SignUpScreen.kt
  feature/sign/src/main/java/com/qriz/app/feature/sign/screen/SignUpViewModel.kt
  feature/sign/src/main/java/com/qriz/app/feature/sign/signin/SignInContract.kt
  feature/sign/src/main/java/com/qriz/app/feature/sign/signin/SignInScreen.kt
  feature/sign/src/main/java/com/qriz/app/feature/sign/signin/SignInViewModel.kt
  feature/sign/src/main/java/com/qriz/app/feature/sign/signup/SignUpContract.kt
  feature/sign/src/main/java/com/qriz/app/feature/sign/signup/SignUpScreen.kt
  feature/sign/src/main/java/com/qriz/app/feature/sign/signup/SignUpViewModel.kt
  feature/sign/src/main/java/com/qriz/app/feature/sign/signup/component/SignUpBasePage.kt
  feature/sign/src/main/java/com/qriz/app/feature/sign/signup/component/SignUpEmailAuthPage.kt
  feature/sign/src/main/java/com/qriz/app/feature/sign/signup/component/SignUpEmailPage.kt
  feature/sign/src/main/java/com/qriz/app/feature/sign/signup/component/SignUpIdPage.kt
  feature/sign/src/main/java/com/qriz/app/feature/sign/signup/component/SignUpNamePage.kt
  feature/sign/src/main/java/com/qriz/app/feature/sign/signup/component/SignUpPasswordPage.kt
  feature/sign/src/main/res/values/strings.xml
  feature/sign/src/test/java/signin/SignInViewModelTest.kt
  feature/sign/src/test/java/signup/SignUpViewModelTest.kt
  feature/splash/src/main/java/com/qriz/app/feature/splash/SplashViewModel.kt
Labels: 🛠 Refactor, ❌✔ Test

#30 [ISSUE-#27] 아이디 찾기 data/network 부분 구현
  build-logic/src/main/java/qriz.android.library.testable.gradle.kts
  core/data/token/token/src/test/java/com/qriz/core/data/token/token/TokenRepositoryTest.kt
  core/data/user/user-api/src/main/java/com/quiz/app/core/data/user/user_api/repository/UserRepository.kt
  core/data/user/user/src/main/java/com/qriz/app/core/data/user/user/repository/UserRepositoryImpl.kt
  core/data/user/user/src/test/java/com/qriz/core/data/user/UserRepositoryTest.kt
  core/network/common/src/main/java/com/qriz/app/core/network/common/exception/QrizNetworkException.kt
  core/network/common/src/main/java/com/qriz/app/core/network/common/util/NetworkResponseUtil.kt
  core/network/user/src/main/java/com/qriz/app/core/network/user/api/UserApi.kt
  core/network/user/src/main/java/com/qriz/app/core/network/user/model/request/FindIdRequest.kt
Labels: 💎 Feature, ❌✔ Test

#31 [ISSUE-27] 아이디 찾기 feature 구현
  core/navigation/src/main/java/com/qriz/app/core/navigation/route/Route.kt
  core/ui/common/.gitignore
  core/ui/common/build.gradle.kts
  core/ui/common/consumer-rules.pro
  core/ui/common/proguard-rules.pro
  core/ui/common/src/main/AndroidManifest.xml
  core/ui/common/src/main/java/com/qriz/app/core/ui/common/const/Message.kt
  feature/main/src/main/java/com/qriz/app/feature/main/QrizApp.kt
  feature/sign/build.gradle.kts
  feature/sign/src/main/java/com/qriz/app/feature/sign/component/QrizAlertDialog.kt
  feature/sign/src/main/java/com/qriz/app/feature/sign/findId/DialogState.kt
  feature/sign/src/main/java/com/qriz/app/feature/sign/findId/FindIdContract.kt
  feature/sign/src/main/java/com/qriz/app/feature/sign/findId/FindIdScreen.kt
  feature/sign/src/main/java/com/qriz/app/feature/sign/findId/FindIdViewModel.kt
  feature/sign/src/main/java/com/qriz/app/feature/sign/navigation/SignNavigation.kt
  feature/sign/src/main/res/drawable/delete_icon.xml
  feature/sign/src/main/res/values/strings.xml
  feature/sign/src/test/java/findId/FindIdViewModelTest.kt
  settings.gradle.kts
Labels: 💎 Feature, ❌✔ Test
